 <body>
<ion-content mode="ios" [fullscreen]="true">
  <div id="container">

<img src="assets/img/triangulo.png" alt="triangulo" width="180" height="180">

    <br><br>
<p>
  Escreva três números para verificar se podem ser os comprimentos dos lados de um triângulo e verificar se é
  um triângulço equilátero, isósceles ou escaleno.
</p>

<div id="cor">

<ion-item>
  <ion-label position="floating">Comprimento do Primeiro Lado</ion-label>
  <ion-input [(ngModel)]="num1" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Comprimento do Segundo Lado</ion-label>
  <ion-input [(ngModel)]="num2" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Comprimento do Terceiro Lado</ion-label>
  <ion-input [(ngModel)]="num3" type="number"></ion-input>
</ion-item>
</div>
<br><br>

<ion-button (click)="verificar()" color="warning" expand="block"><strong>Verificar</strong></ion-button>

<br>

<ion-button color="dark" shape="round" fill="outline">{{resultado}}</ion-button>

<br><br>

  </div>

</ion-content>

</body>
